<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>1DUST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="public/one_drum.css" />
  </head>
  <body>
    <div class="container mt-5 mb-5 p-0 pb-5">
      <div class="container">
        <nav class="dm__nav">
          <div class="dm__nav__controller">
            <ul class="dm__nav__controller__ul">
              <li class="dm__nav__controller__ul__li" id="onoff">&#9658;</li>
            </ul>
          </div>
        </nav>
        <div class="dm" id="dm">
        </div>
     
    </div>
    <script src="public/one_drum.js"></script>
  </body>
</html>
